/* General */
body {
    background-image: url(../img/geometry2.png);
}


.container {
    background-color: limegreen;
    height: 100vh;
}



/* Grid */
.grid {
    display: grid;
    gap: 1em;
}


.card {
    border-radius: 0.5em;
    height: 10em;
    width: 7em;
    background-color: aqua;
}
