/* General */
body {
    background-image: url(../img/geometry2.png);
}


.container {
    background-color: limegreen;
    max-width: 33em;
    min-width: 9em;
    margin-inline: auto;
    justify-content: space-around;
}



/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: space-around;
}


.card {
    border-radius: 0.3em;
    height: 10em;
    width: 7em;
    background-color: aqua;
}
